.carouselContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sectionTitle {
  font-family: "Concert One", cursive;
  font-size: 1.25rem;
  color: white;
  font-size: 400;
}

.carousel {
  display: flex;
  height: 160.76px;
  align-items: center;
  overflow: scroll;
}
