.card {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  height: 150.76px;
  background-color: pink;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardTitle {
  width: 100%;
  height: 28.82px;
  position: absolute;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 0.68rem;
  font-weight: 400;
  text-align: center;
  background-color: #00574d;
  bottom: 0%;
}
